<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.das_system_app"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.example.mapsexample.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="com.example.mapsexample.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.OverviewActivity" />
        <activity android:name=".activities.NavigationActivity" />
        <activity android:name=".activities.ProfilActivity" />
        <activity
            android:name=".activities.RaumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.KursAnmeldenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DozentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DozentAnwesenheitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ChatActivity"
            android:label="@string/title_activity_chat_global"
            android:screenOrientation="portrait" />
        <!-- created by marcman at 2014-07-03 11:09:22 -->
        <activity android:name=".activities.ChatOrganizeActivity" />
        <activity android:name=".activities.ChatCreateActivity" />
        <activity android:name=".activities.ChatInviteFriendActivity" />
        <activity android:name=".activities.ChatDetailActivity" />

        <!-- Goolge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBk0GwYSCt1SuaIc8-Tg3nhxdjYofDfwxY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.LoadUserListActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.das_system_app.activities.NavigierenFreundActivity"
            android:label="@string/title_activity_navigieren_freund" >
        </activity>
    </application>

</manifest>
